---
import type { Reply } from "../types";
import CommentFooter from "./CommentFooter.astro";
import CommentHeader from "./CommentHeader.astro";
const { reply }: Record<string, Reply> = Astro.props;
---

<section class="ml-4 border-l-2 border-light-gray">
	<div class="flex flex-col w-full p-8 bg-white border-gray-300 shadow-md">
		<CommentHeader
			image={reply.user.image.png}
			username={reply.user.username}
			createdAt={reply.createdAt}
		/>
		<main class="mt-4">
			<p class="text-grayish-blue">
				<span class="text-moderate-blue font-semibold"
					>@{reply.replyingTo}</span
				>
				{reply.content}
			</p>
		</main>
		<CommentFooter score={reply.score} < div />
	</div>
</section>
